/* .card{
    background-color: #2D405B;
}

.body{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
} */

.fulldesc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.container:hover{
    /* filter: brightness(110%); */
    cursor: pointer;
    background-color:#4A5971 ;
}

.container:hover h3{
    color: #F7881C;
    text-decoration: underline;
}

.container {
    max-width: 500px;
    max-height: 200px;
    background-color: #2D405B ;
    color: white;
    margin: 0 auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;

}


@media screen and (max-width: 800px) {
    .container {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}