.App {
  text-align: center;
  background-color: #1C2D47;
  height: 100%;
  color: white;
  font-family: 'Monsterrat', sans-serif;
}

.spinner{
  margin: 0 auto;
}

.title{
  padding-top: 20px;
  font-size: 50px;
}
